/*@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic");*/
/*l.niziol*/

@import "../vendor/bootstrap/less/bootstrap.less";
@import "../vendor/swiper/dist/css/swiper.min.css";
/*@import "../vendor/magnific-popup/dist/magnific-popup.css";*/
@import "../vendor/lightbox2/dist/css/lightbox.min.css";
 
@blue: #2fa2fc;
@black: black; 
@bgbuttonposition: center;
@bgbuttonsize: auto;

@bgweb: -webkit-linear-gradient(0deg, #09214f 0%, #375ba1 100%);
@bgmoz: -moz-linear-gradient(0deg, #09214f 0%, #375ba1 100%);
@bgo: -o-linear-gradient(0deg, #09214f 0%, #375ba1 100%);
@bgms: -ms-linear-gradient(0deg, #09214f 0%, #375ba1 100%);
@bglinear: linear-gradient(90deg, #09214f 0%, #375ba1 100%);

@width-flag: 17px;
@height-flag: 12px;
@border-flag: none;

.content-image-hover{
    &:hover{
        border: 1px solid @blue;
    }
}

.blue{
    color: @blue;
}

.help-block{
    text-align: center;
}

.form-control::-webkit-input-placeholder {
    color: @black;
    padding-left: 25px;
}
.form-control::-moz-placeholder {
    color: @black;
    padding-left: 25px;
}
.form-control::-ms-input-placeholder {
    color: @black;
    padding-left: 25px;
}
.form-control::-moz-placeholder {
    color: @black;
    padding-left: 25px;
}

/* Homepage */
a{
    text-decoration: none;
}

.login-box{
    background: #b2b2b2; 
}

.language{
    background-color: #efefef; 
    height: 43px;
    width: 100%;
}

.choose-language{
    margin-top: 15px;
    font-size: 11px;
    color: #b2b2b2;
}

.flags{
    padding-left: 10px;
}

.menuup{
    margin-top: 25px;
    margin-bottom: 5px;
    background-color: white;
}
.nav > li > a {
    padding: 10px 18px; 
    padding-top: 30px;
    color: #444444;

    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.footer{
    .nav{
        li{
            a{
                padding-top: 15px;
            }
        }
    }
}

.menuup{
    .nav{
        li{
            a{
                padding: 30px 35px;
            }
        }
    }
}

ul.dropdown-menu{
    li{
        display: inline-block;
        a{
            color: white;
            font-weight: 500;
            padding: 3px 12px;
            &:hover{
                background: none;
                color: #eeeeee;
            } 
        }
    }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: white;
    color: #555;
}

.menuup{
    .dropdown-menu{
        li:last-child{
            a{
                color: white; 
                &:hover{
                    color: #eeeeee;
                }
            }
        }
    }
}

.dropdown-menu > li > a {
    margin-top: -25px;
    margin-bottom: -25px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
}

.dropdown-menu{
    min-width: 750px;
    background: -webkit-linear-gradient(90deg, #146ac2 0%, #30a5ff 100%);
    background: -moz-linear-gradient(90deg, #146ac2 0%, #30a5ff 100%);
    background: -o-linear-gradient(90deg, #146ac2 0%, #30a5ff 100%);
    background: -ms-linear-gradient(90deg, #146ac2 0%, #30a5ff 100%);
    background: linear-gradient(0deg, #146ac2 0%, #30a5ff 100%);
    border-radius: 5px 5px 5px 5px;
    padding: 11px 0;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none;
}

.navbar-nav{
    li{
        .dropdown-menu{
            border-radius: 25px;
            text-align: center;
            margin-top: 0px;
            margin-left: -100px;
        }
    }
}

.dropdown .open{
    .dropdown-menu{
        display: block;
    }
}

.font700{
    font-weight: 700;
}

.nav > li > a{
    background: none;
    padding-bottom: 0px;
}

.nav > li > a:hover{
    background: none;
}
.nav > li > a:active{
    background: none;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background: none;
    color: #375ba1;
    font-weight: 600;
}


.caret{
    display: none;
}

.navbar-default{
    .navbar-nav{
        li
        {
            &:last-child{
                a{
                    /*color: @blue;*/ 
                }
            }
            ul{
                li{
                    &:last-child{
                        a{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.footer{
    .container{
        .row{
            .col-sm-6{
                .nav{
                    li{
                        a{
                            padding: 8px 15px;
                            color: white;
                            border-color: #2fa2fc;
                            &:hover{
                                border-bottom: 1px solid @blue;
                            }    
                        }
                    }
                }
            }
        }
    }
}
.circle-button{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.1);
}

.circle-button:hover{
    background-color: white;
}

.circle-input{
    border-radius: 25px;
    height: 40px;
    margin-top: 20px;
    color: black;
}

.circle-input-textarea{
    border-radius: 25px;
    margin-top: 20px;
}

.btn-blue{
    background: -webkit-linear-gradient(90deg, #146ac2 0%, #30a5ff 100%);
    background: -moz-linear-gradient(90deg, #146ac2 0%, #30a5ff 100%);
    background: -o-linear-gradient(90deg, #146ac2 0%, #30a5ff 100%);
    background: -ms-linear-gradient(90deg, #146ac2 0%, #30a5ff 100%);
    background: linear-gradient(0deg, #146ac2 0%, #30a5ff 100%);
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 23px;

    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
}

.btn50{
       width: 50%;
    }


.btn-blue:hover{
    border: 1px solid @blue;
    background: none;
    color: @blue;
}

.btn-blue-small{
    max-width: 200px;
}

.btn-send{
    width: 100%;
    border-radius: 25px;
    height: 40px;
}

.btn-send:hover{
    border: 1px solid @blue;
    background-color: white;
}

.btn-file{
    opacity: 0; 
    z-index: 2; 
    margin-top: -53px; 
    height: 40px; 
    width: 100%;
}

.errormessage{
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #cde8fd;
}

.navbar-default {
    background: none;
    border: none;
}

input#image-button{
    background: white url('/assets/images/aparat.png') no-repeat center left;
    background-position: 10px 4px;
    padding-left: 30px;
}

.slide{
    background: url('/assets/images/slide_one.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
}

.banner{ 
    background: url('/assets/images/example_banner.gif'); 
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 319px;
}

.bannerIndex-1{
    background: url('/assets/images/bIndex1.gif'); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 319px;
}

.bannerIndex-2{
    background: url('/assets/images/bIndex2.gif'); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 319px;
}

.sliderImage-1{
    background: url('/assets/images/sliderowe.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 291px;
}

.sliderInfo{
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bluecontainer{
    background: @bgweb;
    background: @bgmoz;
    background: @bgo;
    background: @bgms;
    background: @bglinear;

    padding-top: 25px;
    min-height: 291px;
    color: white

}
 
.bluecontainerslim{
    background: @bgweb;
    background: @bgmoz;
    background: @bgo;
    background: @bgms;
    background: @bglinear;

    height: 190px;
    color: white;
    font-size: 40px;
    padding-left: 35px;
    font-weight: 500;
    display: table;
}
.editarea{
    width: 400px;
    display: table-cell;
    vertical-align: middle;
}
.container-information{
    text-align: justify;
    padding-top: 45px;
    padding-bottom: 45px;
}

.bluemenu{
    min-height: 150px;
    font-size: 20px;
    color: white;
}

.whitefont{
    color:  #ffffff;
    font-size: 49px;
    font-weight: 500;
}

/*Start slider*/
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container-v {
    background: #eee;
}
/*Stop slider*/

.buttonposition{
    margin-top: 40px;
    position: absolute;
    margin-left: 33%;
}

.buttonslider{
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    z-index: 99;
}

.buttonbetween{
    position: absolute;
    left: calc( ~"50% - 30px" );
    top: calc(~"50% - 30px");
}
.betweendiv{
    display: inline-block;
    position: relative; 
    width: 100%;
    min-height: 319px;
    /*display: table;*/
}

.divinformationleft{
    padding-right: 40px;
}
.divinformationright{
    padding-left: 40px;
    padding-top: 20px;
}

.more-information{
    min-height: 165px;
    background: none;
    padding-top: 55px;
}

.footer{
    background-color:  #181818;
    min-height: 147px;
    color: white;
    font-size: 12px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-advertisement{
    padding-top: 25px;
    padding-bottom: 25px;
    background: none;
}

.padding55{
    padding-bottom: 55px;
}

.bottom-buffer{
    margin-bottom: -5px;
}

.content-slider{
    font-size: 14px;
    max-width: 540px;
    padding-top: 15px;
}

.contactdiv{
    margin-top: 50px;
    font-size: 17px;
}

/* Galeria */
.gallery-image{
    padding-top: 25px;
    padding-bottom: 25px;
}

.buttonimg1{
    background: white url('/assets/images/dla_niepelnosprawnych.png') no-repeat;
    background-position: @bgbuttonposition;
    background-size: @bgbuttonsize;
}
.buttonimg2{
    background: white url('/assets/images/dla_przemyslu.png') no-repeat;
    background-position: @bgbuttonposition;
    background-size: @bgbuttonsize;
}
.buttonimg3{
    background: white url('/assets/images/w_mieszkaniach.png') no-repeat;
    background-position: @bgbuttonposition;
    background-size: @bgbuttonsize;
}
.buttonimg4{
    background: white url('/assets/images/architektura.png') no-repeat;
    background-position: @bgbuttonposition;
    background-size: @bgbuttonsize;
}
.arrow{
    background: white url('/assets/images/arrow.png') no-repeat;
    transform:rotate(180deg);
    background-position: @bgbuttonposition;
    background-size: @bgbuttonsize;
}
.camera{
    background: white url('/assets/images/kamera.png') no-repeat;
    background-position: @bgbuttonposition;
    background-size: @bgbuttonsize;
}
.camera2{ 
    background: white url('/assets/images/aparat.png') no-repeat;
    background-position: @bgbuttonposition;
    background-size: @bgbuttonsize;
}

.language-pl{
    background: url('/assets/images/pl.png') no-repeat;
    width: @width-flag;
    height: @height-flag;
    border: @border-flag;
}
.language-en{
    background: url('/assets/images/en.png') no-repeat;
    width: @width-flag;
    height: @height-flag;
    border: @border-flag;
}
.language-ru{
    background: url('/assets/images/ru.png') no-repeat;
    width: @width-flag;
    height: @height-flag;
    border: @border-flag;
}

.contactform .box-body{
    width:100%;
    margin-top: 50px;
}
.formarea  .container
{
    background: @bgweb;
    background: @bgmoz;
    background: @bgo;
    background: @bgms;
    background: @bglinear;
    border: 1px solid #f2f2f2;
    margin-top: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
    padding-right: 30px;
    margin-bottom: 30px;
    color: white;
}
.gallery-image img {
    height: 200px;
    width: 260px;
}

@media only screen and (max-width: 1024px) {
    .nav > li > a {
        padding: 10px 9px; 
        padding-top: 10px;
    }

    .menuup{
        li{
            a{
                padding: 10px 13px;
                padding-top: 15px;
            }
        }
    }

    .form-control::-webkit-input-placeholder {
        padding-left: 15px;
        font-size: 12px;
    }
    .form-control::-moz-placeholder {
        padding-left: 15px;
        font-size: 12px;
    }
    .form-control::-ms-input-placeholder {
        padding-left: 15px;
        font-size: 12px;
    }
    .form-control::-moz-placeholder {
        padding-left: 15px;
        font-size: 12px;
    }

    .divinformationleft{
        font-size: 12px;
    }

    .divinformationright{
        font-size: 12px;
    }

    .whitefont{
        font-size: 34px;
        padding-top: 40px;
    }

    .circle-input{
        height: 38px;
    }

    .btn-blue{
        height: 38px;
        margin-top: 20px;
    }
    
    .logo{
        width: 75%;
    }

    .buttonposition {
        margin-top: 40px;
        margin-left: 33%;
    }

    .send{
        display: none;
    }

    input#image-button{
        padding-left: 30px;
        margin-top: 20px;
        font-size: 13px;
    }

    h1{
        font-size: 25px;
    }
}

@media only screen and (max-width: 992px) {
    .buttonposition {
        margin-top: 70px;
        margin-left: 43%;
    }

    input#image-button{
        background: white url('/assets/images/aparat.png') no-repeat center left;
        background-size: 25px;
        background-position: 10px 8px;
        padding-left: 35px;
        font-size: 12px;
    }
    
    .navbar-nav{
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    
    .content-image{
        margin-bottom: 30px;
    }
    
    .menuup{
        li{
            a{
                padding: 10px 13px;
                padding-top: 15px;
            }
        }
    }

    hr{
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }

    .form-control::-webkit-input-placeholder {
        padding-left: 5px;
        font-size: 10px;
    }
    .form-control::-moz-placeholder {
        padding-left: 15px;
        font-size: 12px;
    }
    .form-control::-ms-input-placeholder {
        padding-left: 15px;
        font-size: 12px;
    }
    .form-control::-moz-placeholder {
        padding-left: 15px;
        font-size: 12px;
    }

    .btn-blue{
        font-size: 12px;
        text-align: center;
        margin-bottom: 0px;
        margin-top: 20px;
        .send{
            display: none;
        }
    }

    .titleform-xs{
        font-size: 32px;
    }

    .bluemenu{
        min-height: 145px;
        font-size: 16px;
        padding-top: 32px;
    }

    .more-information{
        height: 170px;
        font-size: 13px;
    }

    .buttonposition{
        margin-left: 43%;
        margin-top: 60px;
    }

    .nav{
        li{
            a{
                padding: 2px 26px;
                padding-top: 0px;
            }
        }
    }

    .bluecontainerslim{
        font-size: 35px;
        text-align: center;
    }

    .send{
        display: none;
    }

    ul.dropdown-menu{
        background: none;
        min-width: auto;
        li{
            display: block;
        }
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 55px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background: none;
    }

    .menuup .nav li a {
        padding: 15px 35px;
        text-align: center;
    }

    .navbar-nav{
        li{
            .dropdown-menu{
                margin-left: 0px;
            }
        }
    }

    .content-slider{
        font-size: 12px;
    }
    
    .btn50{
       width: 100%;
    }

}

@media only screen and (max-width: 767px) {
    
    .claus{
        padding-top: 45px;
        font-size: 10px;
        text-align: justify;
    }
    
    .logo{
        width: 25%;
        margin-top: 25px;
        margin-bottom: -45px;
    }

    .whitefont{
        padding-left: 15px;
        padding-right: 15px;
    }

    .form-group{
        margin-bottom: 0px;
    }

    .buttonposition{
        margin-top: 40px;
        margin-left: 42%;
    }

    .bluemenu{
        min-height: 140px;
        font-size: 26px;
        color: white;
    }

    .buttonbetween{
        display: none;
    }

    .divinformationleft{
        padding-right: 5px;
        padding-bottom: 35px;
        padding-top: 35px;
        text-align: justify;
    }

    .divinformationright {
        padding-left: 5px;
        padding-top: 35px;
        padding-bottom: 35px;
        text-align: justify;
    }

    .footer{
        padding-top: 10px;
        padding-bottom: 30px;
        .col-xs-12{
            padding-top:25px;
            text-align: center;
            li{
                padding-left: 40px;
                a{
                    max-width: 150px;
                    float: left;
                }
            }
        }
    }

    .bluecontainerslim{
        font-size: 30px;
    }

    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 30px 5px 25px;
    }

}

@media only screen and (max-width: 562px){
    .bluecontainer{
        padding-bottom: 15px;
    }
    .content-slider{
        font-size: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .bluemenu{
        font-size: 20px;
    }

    .buttonposition {
        margin-top: 50px;
        margin-left: 39%;
    }

    .titleform-xs{
        font-size: 22px;
    }

    .bluecontainerslim{
        font-size: 23px;
        padding-top: 0px;
        min-height: 160px;
    }

    .content-slider{
        font-size: 15px;
    }

    .arrow{
        display: none;
    }

    .sliderImage-1{
        display: none;
    }
    
    .slide{
        height: 150px;
    }
}

@media only screen and (max-width: 430px) {
    .bluemenu{
        min-height: 120px;
        font-size: 18px;
    }

    .buttonposition {
        margin-top: 30px;
        margin-left: 37%;
    }

    .titleform-xs{
        font-size: 20px;
    }

    .menuup .nav li a {
        font-size: 13px;
    }
    
    .errormessage{
        font-size: 10px;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 375px) {
    .bluemenu{
        min-height: 110px;
        font-size: 15px;
    }

    .titleform-xs{
        font-size: 17px;
    } 
    
    
}